<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-2">
        <div class="row mb-4">
            {{#each courses}}   
            <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <a href="/courses/{{this.slug}}">
                                <img src="{{this.image}}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="/courses/{{this.slug}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <a href="/courses/{{this._id}}/edit">Edit</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
       
    </div>

</body>
</html>